body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1, h2 {
    text-align: center;
}

.postres {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.postre {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.menu {
    height: 100px;
    width: auto;
    border-radius: 10px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.carrito {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#lista-carrito {
    list-style-type: none;
    padding: 0;
}

#lista-carrito li {
    margin: 5px 0;
}